<h3>Page réservée à la direction !</h3>
<% @articles.each do |article| %>
    <section>
        <h2><%=article[:titre]%></h2>
        <p><%=article[:article]%></p>
        <p><%=article[:auteur]%></p>
        <p>
          <form method="post" action="suppression">
               <input type="hidden" value="<%=article[:id]%>" name="suppression"/>
               <input type="submit" value="suppression"/>
            </form>
          <% if article[:rubrique]=="articles" %>
            <form method="post" action="archive">
               <input type="hidden" value="<%=article[:id]%>" name="archive"/>
               <input type="submit" value="archives"/>
            </form>
          <% end %>
        </p>
    </section>
<% end %>